:root {
	--logotipo: #1a1a1a;
	--profesion: #f2f2f2;
	--primario: #263f85e8;
	--primario-fuse: #263f8562;
	--logotipo-fuse: #1a1a1a73;
	--container: rgb(214, 214, 218);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bebas Neue', cursive;
}

body.contact {
	background-image: linear-gradient(var(--logotipo), var(--primario));
	background-size: 100% 150%;
	background-repeat: repeat;
}
a {
	text-decoration: none;
	color: var(--logotipo);
}
a:hover {
	color: var(--primario);
}

main {
	width: 90%;
	margin: 0px auto;
	max-width: 800px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	width: 100%;
	height: 20%;
	background-color: var(--logotipo-fuse);
	color: var(--primario);
	font-family: 'Train One', Arial, Helvetica, sans-serif;
	display: flex;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 0px;
}

.header .title {
	width: 43%;
	height: auto;
	padding: 0px 20px 0px 20px;
	font-size: 1.3em;
	letter-spacing: 6px;
	text-shadow: 0px 8px 6px rgba(38, 11, 56, 0.5);
	background-color: var(--logotipo-fuse);
}
.header .option {
	width: 25%;
	height: 100%;
	padding: 1.5% 0px 1.43% 0px;
	justify-content: center;
	font-family: 'Bebas Neue', Arial;
	font-size: 1.43em;
	background-color: var(--logotipo-fuse);
	color: var(--primario);
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

.header .option:hover {
	transition: 0.6s ease all;
	font-size: 1.8em;
	font-weight: 500;
	color: var(--profesion);
	background-color: var(--logotipo);
	border-radius: 0px 0px 10px 10px;
}
.ligth {
	color: rgb(218, 216, 216);
}

@media screen and (max-width: 1024px) {
	.header .title {
		width: 44%;
		height: 20%;
		font-size: 1.005em;
		padding: 10px 0px 11px 0px;
		align-content: center;
	}

	.header .option {
		width: 33.3%;
		font-size: 1.5em;
		letter-spacing: 3px;
		float: left;
		padding: 20px 0px 16px 0px;
		color: var(--logotipo);
	}
	.header .option:hover {
		transition: 0.6s ease all;
		font-size: 1.8em;
		font-weight: 500;
		color: var(--profesion);
		background-color: var(--logotipo);
		border-radius: 0px 0px 10px 10px;
	}
}

@media screen and (max-width: 768px) {
	.header .title {
		width: 50%;
		font-size: 1.2em;
		padding: 3px 0px 5px 0px;
		justify-content: center;
		letter-spacing: 1px;
		text-shadow: none;
	}
	.header .option {
		font-size: 1.2em;
		letter-spacing: 1px;
		padding: 20px 0px 18px 0px;
	}
	.corrector {
		font-size: 0.8em;
		padding: 5px 0px 0px 0px;
	}
}
@media screen and (max-width: 425px) {
	.header .title {
		width: 100%;
		height: auto;
		font-size: 1em;
		padding: 7px 0px 7px 0px;
		position: absolute;
	}
	.header .option {
		margin-top: 60px;
	}
}
/* ======================================================================================= */

.PBox {
	width: 100%;
	height: 550px;
	margin: 0px auto;
	padding: 0px;
	background-color: var(--primario-fuse);
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
}

form {
	margin: 20px 8px;
	padding: 20px;
	font-family: 'New Tegomin';
	width: 33%;
	height: 500px;
	box-sizing: border-box;
	background-image: linear-gradient(var(--primario), var(--logotipo));
	border-radius: 10px;
}
.inicial {
	width: 30%;
	height: 500px;
	margin: 20px 8px;
	padding: 20px;
	background-image: linear-gradient(var(--primario), var(--container));
	box-sizing: border-box;
	font-size: 1.6em;
	position: absolute;
}
.btnSubmit {
	width: 100%;
	height: 30px;
	margin: 100px auto;
	padding: auto;
	background-color: var(--container);
	box-sizing: border-box;
	font-weight: 800;
	font-family: 'Train One';
	color: var(--primario);
}
.secondF {
	width: 30%;
	height: 500px;
	margin: 20px 3% 20px 31%;
	padding: 20px;
	background-image: linear-gradient(var(--primario), var(--container));
	box-sizing: border-box;
	position: absolute;
}
