:root {
	--logotipo: #313131;
	--profesion: #f2f2f2;
	--primario: #4d6dc4c4;
	--logotipo-fuse: #1a1a1a73;
	--container: rgb(214, 214, 218);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bebas Neue', cursive;
}
body.inicio {
	background-image: url('./../img/kevin-bhagat-zNRITe8NPqY-unsplash.jpg'),
		linear-gradient(var(--logotipo), var(--primario));
	background-size: cover;
	background-repeat: repeat;
}
body.home {
	background-image: url('./../img/lukas-blazek-GnvurwJsKaY-unsplash.jpg'),
		linear-gradient(var(--logotipo), var(--primario));
	background-size: cover;
	background-repeat: repeat;
}
a {
	text-decoration: none;
	color: var(--logotipo);
}
a:hover {
	color: var(--primario);
}

main {
	width: 90%;
	margin: auto;
	max-width: 800px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* ---------------------------------PAGINA INICIO------------------------------------------ */

.logotipo {
	padding: 10px;
	border: 8px double var(--logotipo);
	border-radius: 10px;
	color: var(--logotipo);
}

.logotipo .subtitulo {
	text-align: center;
	color: var(--profesion);
	background: var(--logotipo);
	padding: 12px 20px;
	transition: 0.5s ease all;
	font-size: 36px;
	font-family: 'Train One', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.logotipo:hover .subtitulo {
	background: var(--primario);
}

.texto-animado {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.texto-animado > div {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: 0.3s ease all;
}

.texto-animado > div.animacion {
	transform: translateY(-100px);
}

.texto-animado > div span {
	font-size: 100px;
	font-weight: normal;
	line-height: 100px;
}

.texto-animado .segunda-linea {
	position: absolute;
	top: 100px;
}

/* @media screen and (max-width: 600px) {
	.texto-animado > div span {
		font-size: 50px;
		line-height: 50px;
	}

	.texto-animado .segunda-linea {
		top: 50px;
	}

	.texto-animado > div.animacion {
		transform: translateY(-50px);
	}

	.logotipo .subtitulo {
		font-size: 20px;
	}
} */
/* -------------------------------HOME HEADER-------------------------------------- */
.header {
	width: 100%;
	height: 8vw;
	background-color: var(--logotipo-fuse);
	color: var(--primario);
	font-family: 'Train One', Arial, Helvetica, sans-serif;
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	box-sizing: border-box;
}

.header .title {
	width: 40%;
	height: 100%;
	padding: 10px 5%;
	font-size: 1.5em;
	display: flex;
	text-align: center;
	background-color: var(--logotipo-fuse);
}
.header .option {
	width: 25%;
	height: 100%;
	padding: 1.5% 0px 1.43% 0px;
	justify-content: center;
	font-family: 'Bebas Neue', Arial;
	font-size: 1.5em;
	background-color: var(--logotipo-fuse);
	color: var(--primario);
	box-sizing: border-box;
}

.header .option:hover {
	transition: 0.6s ease all;
	font-size: 1.5em;
	font-weight: 500;
	color: var(--profesion);
	background-color: var(--logotipo);
	border-radius: 0px 0px 10px 10px;
}
.ligth {
	color: rgb(218, 216, 216);
}

/* @media screen and (max-width: 1024px) {
	.header .title {
		width: 44%;
		height: 20%;
		font-size: 1.005em;
		padding: 10px 0px 11px 0px;
	};

	.header .option {
		width: 33.3%;
		font-size: 1.5em;
		letter-spacing: 3px;
		float: left;
		padding: 20px 0px 16px 0px;
		color: var(--logotipo);
	}
	.header .option:hover {
		transition: 0.6s ease all;
		font-size: 1.8em;
		font-weight: 500;
		color: var(--profesion);
		background-color: var(--logotipo);
		border-radius: 0px 0px 10px 10px;
	}
};

@media screen and (max-width: 768px) {
	.header .title {
		width: 50%;
		height: auto;
		font-size: 1em;
		padding: 8px 0px 10px 0px;
		justify-content: center;
		letter-spacing: 1px;
		text-shadow: none;
	}
	.header .option {
		font-size: 1.2em;
		letter-spacing: 1px;
		padding: 20px 0px 18px 0px;
	}
	.corrector {
		font-size: 0.8em;
		padding: 5px 0px 0px 0px;
	}
}
@media screen and (max-width: 425px) {
	.header .title {
		width: 100%;
		font-size: 1.2em;
		padding: 7px 0px 7px 0px;
		position: absolute;
	}
	.header .option {
		margin-top: 70px;
	}
} */

/* ---------------------------HOME CONTENEDOR----------------------------------------------- */
.txt {
	width: 100%;
	height: auto;
	margin: 5px;
	padding: 5px 3px 5px 3px;
	box-sizing: border-box;
	justify-content: center;
	font-size: 1.3em;
}
.alert {
	color: red;
	font-size: 1.5em;
}

.container {
	width: 90%;
	min-height: 270px;
	margin: 10px 5% 10px 5%;
	padding: 5px;
	background-color: var(--container);
	border-radius: 15px;
	border: 2px solid var(--logotipo);
	box-sizing: border-box;
}
.img {
	float: right;
	width: 30%;
	height: 250px;
	margin: -50px 0px 0px 0px;
	box-sizing: border-box;
	border: 3px solid var(--logotipo-fuse);
	border-radius: 5px;
	z-index: 10;
}

.ContTitle {
	width: 65%;
	height: 2%;
	margin: 0px 0px 0px 10px;
	padding: auto;
	align-content: center;
	font-size: 2.5em;
	box-sizing: border-box;
}
.link {
	text-decoration: underline;
	letter-spacing: 3px;
}

.ContInfo {
	width: 68%;
	height: 180px;
	margin: 10px 0px 5px 5px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	border: 2px solid var(--logotipo-fuse);
	border-radius: 5px;
	box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	.img {
		height: 240px;
		margin-top: -30px;
	}
	.ContTitle {
		width: 100%;
		font-size: 2em;
	}
	.ContInfo {
		height: 100%;
	}
}

@media screen and (max-width: 768px) {
	.img {
		float: none;
		width: 100%;
		height: 50%;
		margin-top: 10px;
	}
	.ContInfo {
		width: 99%;
	}
}
